<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        a:hover, a:focus, a:active {
text-decoration: none; color: inherit;
font-size: large; 
}
nav {
display: inline-block; background-color: #55b460; border-radius: 4px;
}
nav.home.home, nav.team.team, nav.about.about, nav.contact.contact {
background-color: #a9aedd;
}

    </style>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="style.css" rel="stylesheet" />
<title>Document</title>

</head>
<body ng-app>
<nav class="{{active}}" ng-click="$event.preventDefault()">
<a href="#" class="home" ng-click="active='home'">Home</a>
<a href="#" class="about" ng-click="active='about'">About</a>
<a href="#" class="contact" ng-click="active='contact'">Contact</a>
</nav>
<p ng-show="active">You chose <b>{{active}}</b></p>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js">
</script>
</body>
</html>

